<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.dinhtuan_bai1_tinhtoan">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/atomicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/atomicon"
        android:supportsRtl="true"
        android:theme="@style/Theme.DinhTuan_bai1_tinhToan"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
<!--mô tả các đặc điểm cơ bản của ứng dụng và xác định từng thành phần của nó-->
<!--tên ứng dụng-->
<!--hình nền, kiểu dáng, style, quyền truy cập của ứng dụng-->